In [275]:
import pandas as pd
from langdetect import detect
import numpy as np
import nltk
from nltk.stem import WordNetLemmatizer
import string
from sklearn.feature_extraction.text import CountVectorizer

In [276]:
df = pd.read_csv('../data/processedDict.csv')

In [277]:
lemmatised_words = []
df['word'] = df['word'].apply(lambda x: lem.lemmatize(x, pos='n'))
pattern = '|'.join(df['word']) #augment dictionary to pattern form -> used for vectorised function application

In [278]:
filepath = '../data/en_reviews/taipei_en.csv'
reviews = pd.read_csv(filepath)
del reviews['Unnamed: 0']
comments_original = reviews['comments'] #to add back before saving to csv
reviews

,listing_id,id,date,reviewer_id,reviewer_name,comments,langs
0,68396,4743816,2013-05-23,3334370,Scott,Great location ( very close to the metro stati...,en
1,68396,279164758,2018-06-20,183745170,Yamada,Very good place!!!\n,en
2,68398,2894700,2012-11-16,3534183,Laura,I enjoyed my stay very much! Spend approx 6 we...,en
3,68398,13416072,2014-05-27,12750484,Maggie,I ended up staying in Studio B. Apartment is c...,en
4,68398,48514756,2015-09-27,31102107,Romney,I arrived a little early but Vincent valiantly...,en
...,...,...,...,...,...,...,...
141404,40118828,569575737,2019-11-27,124657159,Lokting,Well apartment.,en
141405,40132565,570638590,2019-11-30,311853929,Mary,"The host was very kind and friendly, he replie...",en
141406,40193977,569575328,2019-11-27,304454924,Nerissa,The room is perfectly clean and embellished wi...,en
141407,40301066,569890456,2019-11-28,28915344,Joy,Great location. It is only minutes from the cl...,en
141408,40362558,570672340,2019-11-30,27711194,Yung Chieh,Informative and efficient owner. It’s a walk u...,en

In [279]:
nltk.download('wordnet') #download corpus for lemmatizer to compare results with

[nltk_data] Downloading package wordnet to /Users/hiru/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [280]:
lem = WordNetLemmatizer() #create lemmatizer

In [281]:
table = str.maketrans('', '', string.punctuation) #mapping to strip punctuation in review

#strip punct of each review -> lemmatise -> output is list of words so join into sentences
lem_comments = reviews.comments.apply(lambda review: ' '.join(map(str, [lem.lemmatize(word.translate(table), pos='n') for word in review.lower().split()])))

count = lem_comments.str.count(pattern) # # of dictionary words found in each review
length = lem_comments.str.len() # review length

reviews['dict_proportion'] = count/length # save proportions

In [282]:
"Mean dictionary presence: {:.4%}".format(np.mean(reviews['dict_proportion']))

'Mean dictionary presence: 5.5840%'

In [283]:
reviews

,listing_id,id,date,reviewer_id,reviewer_name,comments,langs,dict_proportion
0,68396,4743816,2013-05-23,3334370,Scott,Great location ( very close to the metro stati...,en,0.067416
1,68396,279164758,2018-06-20,183745170,Yamada,Very good place!!!\n,en,0.066667
2,68398,2894700,2012-11-16,3534183,Laura,I enjoyed my stay very much! Spend approx 6 we...,en,0.068182
3,68398,13416072,2014-05-27,12750484,Maggie,I ended up staying in Studio B. Apartment is c...,en,0.066832
4,68398,48514756,2015-09-27,31102107,Romney,I arrived a little early but Vincent valiantly...,en,0.049952
...,...,...,...,...,...,...,...,...
141404,40118828,569575737,2019-11-27,124657159,Lokting,Well apartment.,en,0.071429
141405,40132565,570638590,2019-11-30,311853929,Mary,"The host was very kind and friendly, he replie...",en,0.097143
141406,40193977,569575328,2019-11-27,304454924,Nerissa,The room is perfectly clean and embellished wi...,en,0.084821
141407,40301066,569890456,2019-11-28,28915344,Joy,Great location. It is only minutes from the cl...,en,0.066748
141408,40362558,570672340,2019-11-30,27711194,Yung Chieh,Informative and efficient owner. It’s a walk u...,en,0.047264

In [284]:
#overwrite csv in en_reviews
reviews.to_csv(filepath, index = False)