In [25]:
import pandas as pd
from langdetect import detect
import numpy as np

In [2]:
df = pd.read_csv('processedDict.csv')

In [23]:
df['word']

0          information
1      recommendations
2                 tips
3               advice
4          suggestions
            ...
347            talking
348           chatting
349            moments
350              chats
351              talks
Name: word, Length: 352, dtype: object

In [39]:
reviews = pd.read_csv('./brazil/brazil_reviews.csv')
test = reviews

In [40]:
test

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,17878,64852,2010-07-15,135370,Tia,This apartment is in a perfect location -- two...
1,17878,76744,2010-08-11,10206,Mimi,we had a really great experience staying in Ma...
2,17878,91074,2010-09-06,80253,Jan,Staying in Max appartment is like living in a ...
3,17878,137528,2010-11-12,230449,Orene,In general very good and reasonable price.\r\n...
4,17878,147594,2010-12-01,219338,David,The apt was nice and in a great location only ...
...,...,...,...,...,...,...
316051,40157438,565279567,2019-11-17,310155650,Andrea,The host canceled this reservation 44 days bef...
316052,40237024,567395895,2019-11-22,138627562,Thiago,The host canceled this reservation 36 days bef...
316053,40251786,567015379,2019-11-21,4792833,Padraig,The host canceled this reservation 40 days bef...
316054,40266786,567192792,2019-11-21,232735567,Bárbara,The host canceled this reservation 37 days bef...
316055,40290464,567280187,2019-11-22,161584846,Nicolas,The host canceled this reservation 36 days bef...

In [41]:
proportions = []
for review in test['comments']:
    try:
        if (detect(review) == 'en'):
            length = len(review)
            review = review.split()
            total = 0
            for word in df['word']:
                total += review.count(word)
            proportions.append(total/length)
    except:
        continue
np.mean(proportions)

0.019471426510593526

In [42]:
"{:.4%}".format(np.mean(proportions))

'1.9471%'