In [1]:
# RUN THIS CODE ONCE AND UPLOAD THE RESULTING CSV TO GITHUB FOR FUTURE REUSE

In [1]:
import pandas as pd
from langdetect import detect

In [2]:
# path to your file
df = pd.read_csv('../data/london/london.csv')[:1000]

In [3]:
df2 = df[df.comments.str[:34] != "The host canceled this reservation"]
df2 = df2.copy()
df2

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,11551,30672,2010-03-21,93896,Shar-Lyn,"The flat was bright, comfortable and clean and..."
1,11551,32236,2010-03-29,97890,Zane,We stayed with Adriano and Valerio for a week ...
2,90700,337227,2011-06-27,311071,Miqua,it was all in all the perfect week!\r\nchilton...
3,90700,378738,2011-07-17,224367,Prateek,"I'll start with the host, and then move on to ..."
4,90700,543840,2011-09-18,1115024,Jennifer,Great location. Plenty to do just steps outsid...
...,...,...,...,...,...,...
995,38605,262591290,2018-05-09,21123920,Yirong,Great location and very comfortable room
996,90700,171592623,2017-07-18,11567369,Helen,Lovely apartment perfect for one or two people...
997,17402,29721005,2015-04-12,24330073,Itziar,Nos hemos alojado en este apartamento una fami...
998,17402,276675678,2018-06-14,4599097,Darius,Newly refurbished 3 bed in central London - ro...
999,17402,279344150,2018-06-20,194024872,Mohit,Liz is a great host . very specific and inform...

In [4]:
df3 = df2['comments']

In [5]:
langs = []
for i in df3:
    try:
        langs.append(detect(i))
    except:
        langs.append('Nan')
        continue

In [6]:
df2['langs'] = langs
df_en = df2.loc[df2['langs'] == 'en'].copy()
df_en

,listing_id,id,date,reviewer_id,reviewer_name,comments,langs
0,11551,30672,2010-03-21,93896,Shar-Lyn,"The flat was bright, comfortable and clean and...",en
1,11551,32236,2010-03-29,97890,Zane,We stayed with Adriano and Valerio for a week ...,en
2,90700,337227,2011-06-27,311071,Miqua,it was all in all the perfect week!\r\nchilton...,en
3,90700,378738,2011-07-17,224367,Prateek,"I'll start with the host, and then move on to ...",en
4,90700,543840,2011-09-18,1115024,Jennifer,Great location. Plenty to do just steps outsid...,en
...,...,...,...,...,...,...,...
994,38605,261935383,2018-05-07,22636994,Shirley,"Great location , great host. Elisa & Dom provi...",en
995,38605,262591290,2018-05-09,21123920,Yirong,Great location and very comfortable room,en
996,90700,171592623,2017-07-18,11567369,Helen,Lovely apartment perfect for one or two people...,en
998,17402,276675678,2018-06-14,4599097,Darius,Newly refurbished 3 bed in central London - ro...,en
999,17402,279344150,2018-06-20,194024872,Mohit,Liz is a great host . very specific and inform...,en

In [8]:
# change the name of the resulting file
df_en.to_csv(r'../data/en_reviews/london_en.csv')