In [1]:
# RUN THIS CODE ONCE AND UPLOAD THE RESULTING CSV TO GITHUB FOR FUTURE REUSE

In [2]:
import pandas as pd
from langdetect import detect

In [3]:
# path to your file
df = pd.read_csv('../data/london/london_reviews.csv')

In [4]:
df2 = df[df.comments.str[:34] != "The host canceled this reservation"]
df2 = df2.copy()
df2

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,11551,30672,2010-03-21,93896,Shar-Lyn,"The flat was bright, comfortable and clean and..."
1,11551,32236,2010-03-29,97890,Zane,We stayed with Adriano and Valerio for a week ...
2,11551,41044,2010-05-09,104133,Chase,Adriano was a fantastic host. We felt very at ...
3,11551,48926,2010-06-01,122714,John & Sylvia,We had a most wonderful stay with Adriano and ...
4,11551,58352,2010-06-28,111543,Monique,I'm not sure which of us misunderstood the s...
...,...,...,...,...,...,...
1571099,42242904,606325860,2020-02-16,123766238,Marsy,The place to be!
1571100,42247233,605318820,2020-02-14,289868046,Tureay,This is a great flat which is right in the hea...
1571101,42249963,605007942,2020-02-13,709624,David,A great spot in Shoreditch. Comfy bed and a g...
1571102,42257962,606333621,2020-02-16,9843871,Sara,"No respondia ni a llamadas ni mensajes, por su..."
1571103,42289475,605784149,2020-02-15,18091846,Arunas,Amazing penthouse with wrap around balcony... ...

In [5]:
df3 = df2['comments']

In [ ]:
langs = []
for i in df3:
    try:
        langs.append(detect(i))
    except:
        langs.append('Nan')
        continue

In [ ]:
langs

In [ ]:
# change the name of the resulting file
df_en.to_csv(r'../data/en_reviews/london_en.csv', index = False)