In [1]:
# RUN THIS CODE ONCE AND UPLOAD THE RESULTING CSV TO GITHUB FOR FUTURE REUSE

In [2]:
import pandas as pd
from langdetect import detect

In [3]:
# path to your file
df = pd.read_csv('../Data/new_york/newyork_review.csv')

In [4]:
df2 = df[df.comments.str[:34] != "The host canceled this reservation"]
df2 = df2.copy()
df2

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2595,17857,2009-11-21,50679,Jean,Notre séjour de trois nuits.\r\nNous avons app...
1,2595,19176,2009-12-05,53267,Cate,Great experience.
2,2595,19760,2009-12-10,38960,Anita,I've stayed with my friend at the Midtown Cast...
3,2595,34320,2010-04-09,71130,Kai-Uwe,"We've been staying here for about 9 nights, en..."
4,2595,46312,2010-05-25,117113,Alicia,We had a wonderful stay at Jennifer's charming...
...,...,...,...,...,...,...
1280166,42112160,604215454,2020-02-10,34446721,James,"Bens apartment was clean, spacious and in an a..."
1280167,42112160,604521130,2020-02-11,167400163,Andrew,"Great experience! The location was perfect, ri..."
1280168,42125595,603635599,2020-02-09,164390161,Raisha,My friend an I really enjoyed our stay in this...
1280170,42154357,603764934,2020-02-09,219727469,Marcelo,This was by far way better then what I expecte...
1280171,42154870,603671912,2020-02-09,302435803,Isabelle,I loved the place! It’s next to Prospect Park....

In [5]:
df3 = df2['comments']

In [ ]:
langs = []
for i in df3:
    try:
        langs.append(detect(i))
    except:
        langs.append('Nan')
        continue

In [ ]:
langs

In [ ]:
# change the name of the resulting file
df_en.to_csv(r'../data/en_reviews/newyork_en.csv', index = False)