In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./en_reviews/tokyo_en.csv')
listings = pd.read_csv('./listings/tokyo_listings.csv')
listings

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,49091,https://www.airbnb.com/rooms/49091,20191126102104,2019-11-26,COZICOMFORT LONG TERM STAY ROOM 2,NaN,This is Room No. 2.(available after Jan 15 201...,This is Room No. 2.(available after Jan 15 201...,none,NaN,...,f,f,flexible,t,t,2,0,2,0,0.01
1,50646,https://www.airbnb.com/rooms/50646,20191126102104,2019-11-26,Pleasant Room along Bukit Timah,Fully furnished bedroom with a nice view on th...,"Good Condition room, bright & windy. Comes wit...",Fully furnished bedroom with a nice view on th...,none,The serenity & quiet surrounding makes it an i...,...,f,f,moderate,f,t,1,0,1,0,0.26
2,56334,https://www.airbnb.com/rooms/56334,20191126102104,2019-11-26,COZICOMFORT,NaN,This is Room no. 1. USD700 per month On the fa...,This is Room no. 1. USD700 per month On the fa...,none,NaN,...,f,f,flexible,t,t,2,0,2,0,0.19
3,71609,https://www.airbnb.com/rooms/71609,20191126102104,2019-11-26,Ensuite Room (Room 1 & 2) near EXPO,For 3 (Website hidden by Airbnb) room 1&2 and ...,Landed Homestay Room for Rental. Between Simei...,For 3 (Website hidden by Airbnb) room 1&2 and ...,none,NaN,...,t,f,moderate,f,t,8,0,8,0,0.16
4,71896,https://www.airbnb.com/rooms/71896,20191126102104,2019-11-26,B&B Room 1 near Airport & EXPO,NaN,Vocational Stay Deluxe Bedroom in Singapore.(N...,Vocational Stay Deluxe Bedroom in Singapore.(N...,none,NaN,...,t,f,moderate,f,t,8,0,8,0,0.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7852,40369697,https://www.airbnb.com/rooms/40369697,20191126102104,2019-11-26,Cozy room in the central of Singapore,"The place very near to central, very convenien...",NaN,"The place very near to central, very convenien...",none,NaN,...,t,f,strict_14_with_grace_period,f,f,1,0,1,0,NaN
7853,40374651,https://www.airbnb.com/rooms/40374651,20191126102104,2019-11-26,Common room@Holland Vill/Buona Vista/INSEAD/ESSEC,DOUBLE ROOM FOR ONE PERSON PRICED FOR MINIMUM...,Private room with double bed,DOUBLE ROOM FOR ONE PERSON PRICED FOR MINIMUM...,none,NaN,...,t,f,moderate,f,f,16,3,13,0,NaN
7854,40375034,https://www.airbnb.com/rooms/40375034,20191126102104,2019-11-26,SINGLE RM@HOLLAND VILL/BUONA VISTA/INSEAD/ESSEC.,SINGLE ROOM@HOLLAND VILLAGE/BUONA VISTA/INSEAD...,NaN,SINGLE ROOM@HOLLAND VILLAGE/BUONA VISTA/INSEAD...,none,NaN,...,t,f,moderate,f,f,16,3,13,0,NaN
7855,40382063,https://www.airbnb.com/rooms/40382063,20191126102104,2019-11-26,One bedroom apartment with excellent facilities,NaN,NaN,NaN,none,NaN,...,f,f,flexible,f,f,1,1,0,0,NaN
7856,40382084,https://www.airbnb.com/rooms/40382084,20191126102104,2019-11-26,"CLOSE TO HOUGANG 1 MALL, COMFORT 2BR SPACE","With a mall close-by, these spacious 2-bedroom...","Spread into 850 sq.ft., these designer and com...","With a mall close-by, these spacious 2-bedroom...",none,Located about half an hour drive from Changi A...,...,f,f,strict_14_with_grace_period,f,f,82,77,5,0,NaN

In [3]:
df

,Unnamed: 0,listing_id,id,date,reviewer_id,reviewer_name,comments,langs
0,0,49091,8243238,2013-10-21,8557223,Jared,Fran was absolutely gracious and welcoming. Ma...,en
1,1,50646,11909864,2014-04-18,1356099,James,A comfortable room in a smart condo developmen...,en
2,2,50646,13823948,2014-06-05,15222393,Welli,Stayed over at Sujatha's house for 3 good nigh...,en
3,3,50646,15117222,2014-07-02,5543172,Cyril,It's been a lovely stay at Sujatha's. The room...,en
4,4,50646,15426462,2014-07-08,817532,Jake,"We had a great experience. A nice place, an am...",en
...,...,...,...,...,...,...,...,...
87071,107313,40012885,567620467,2019-11-23,217423388,Mia,amazing customer service from michelle! the pl...,en
87072,107314,40014434,567626111,2019-11-23,290039148,Shunsuke,It's small but great value for money. \nKaurus...,en
87073,107316,40129228,568117993,2019-11-24,290391105,Savas,"Room was very clean , location is 10 minutes w...",en
87074,107317,40138508,566024301,2019-11-18,217531255,Nicole,Bathroom floor tiles were extremely slimy and ...,en
87075,107319,40226189,566900233,2019-11-21,164625805,J,A understanding and responsive host who is abl...,en

In [4]:
listings = listings[['id', 'room_type', 'calculated_host_listings_count']].copy()
listings

            id        room_type  calculated_host_listings_count
0        49091     Private room                               2
1        50646     Private room                               1
2        56334     Private room                               2
3        71609     Private room                               8
4        71896     Private room                               8
...        ...              ...                             ...
7852  40369697     Private room                               1
7853  40374651     Private room                              16
7854  40375034     Private room                              16
7855  40382063  Entire home/apt                               1
7856  40382084  Entire home/apt                              82

[7857 rows x 3 columns]

In [5]:
listings['is_superhost'] = np.where(listings['calculated_host_listings_count'] >= 10, 'Yes', listings['calculated_host_listings_count'])
listings['is_superhost'] = np.where(listings['calculated_host_listings_count'] < 10, 'No', listings['is_superhost'])
listings = listings.rename(columns={"id": "listing_id"})
listings

      listing_id        room_type  calculated_host_listings_count is_superhost
0          49091     Private room                               2           No
1          50646     Private room                               1           No
2          56334     Private room                               2           No
3          71609     Private room                               8           No
4          71896     Private room                               8           No
...          ...              ...                             ...          ...
7852    40369697     Private room                               1           No
7853    40374651     Private room                              16          Yes
7854    40375034     Private room                              16          Yes
7855    40382063  Entire home/apt                               1           No
7856    40382084  Entire home/apt                              82          Yes

[7857 rows x 4 columns]

In [6]:
out = pd.merge(df, listings, on='listing_id')
out

,Unnamed: 0,listing_id,id,date,reviewer_id,reviewer_name,comments,langs,room_type,calculated_host_listings_count,is_superhost
0,0,49091,8243238,2013-10-21,8557223,Jared,Fran was absolutely gracious and welcoming. Ma...,en,Private room,2,No
1,1,50646,11909864,2014-04-18,1356099,James,A comfortable room in a smart condo developmen...,en,Private room,1,No
2,2,50646,13823948,2014-06-05,15222393,Welli,Stayed over at Sujatha's house for 3 good nigh...,en,Private room,1,No
3,3,50646,15117222,2014-07-02,5543172,Cyril,It's been a lovely stay at Sujatha's. The room...,en,Private room,1,No
4,4,50646,15426462,2014-07-08,817532,Jake,"We had a great experience. A nice place, an am...",en,Private room,1,No
...,...,...,...,...,...,...,...,...,...,...,...
87071,107313,40012885,567620467,2019-11-23,217423388,Mia,amazing customer service from michelle! the pl...,en,Private room,6,No
87072,107314,40014434,567626111,2019-11-23,290039148,Shunsuke,It's small but great value for money. \nKaurus...,en,Private room,120,Yes
87073,107316,40129228,568117993,2019-11-24,290391105,Savas,"Room was very clean , location is 10 minutes w...",en,Private room,2,No
87074,107317,40138508,566024301,2019-11-18,217531255,Nicole,Bathroom floor tiles were extremely slimy and ...,en,Private room,1,No
87075,107319,40226189,566900233,2019-11-21,164625805,J,A understanding and responsive host who is abl...,en,Private room,64,Yes

In [7]:
out.to_csv(r'property_type_and_superhosts/tokyo_type.csv')